<%= form_for(@employee, :html => {:multipart => true}) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :skill_tags %><br />
    <%= text_field_tag :skill_tags , @skill_tags_names %>
  </div>
  <div class="field">
    <%= f.label :industry_tags %><br />
    <%= text_field_tag :industry_tags , @industry_tags_names %>
  </div>
  <div class="field">
    <%= f.label :product_tags %><br />
    <%= text_field_tag :product_tags , @product_tags_names %>
  </div>
  <div class="field">
    <%= file_field_tag :resume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

