<%= javascript_include_tag "autocomplete" %>
<!-- TinyMCE -->
<script type="text/javascript" src="/javascripts/libs/tiny_mce_3.4b3/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		mode : "textareas",
		theme : "simple",
		width: "400",
		height: "150",
		plugins : "paste",
        theme_advanced_buttons3_add : "pastetext,pasteword,selectall",
        paste_auto_cleanup_on_paste : true
	});
</script>
<!-- /TinyMCE -->
<%= form_for(@employee, :html => {:multipart => true}) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation_skil">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>	

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<article class="clearfix">
<div class="primary">
<section>
  <fieldset>
      <legend>Personal Information</legend>
      <div><%= f.label :first_name %> <%= f.text_field :first_name %></div>
      <div><%= f.label :last_name %> <%= f.text_field :last_name %></div>
      <div><%= f.label :job_title %> <%= f.text_field :job_title %></div>
      <div><%= f.label :email %> <%= f.text_field :email %></div>
      <div><%= f.label :location %> <%= f.text_field :location %></div>	
  </fieldset>

  <fieldset>
      <legend>Skills</legend>
      <div id="skill-tags">
      	<%= render :partial => "skill_tag", :collection => @employee.skill_tags, :locals => {:form => f} %>
      </div>
 	  <%= link_to 'add skills','', :id => 'add-skill' %>
  </fieldset>
  <fieldset>
      <legend>Industry Experience</legend>
      <div><%= text_field_tag :industry_tags , @industry_tags_names, :class => "industry_tags tagautocomplete" %></div>
  </fieldset>
  
  <fieldset>
      <legend>Product Experience</legend>
      <div><%= text_field_tag :product_tags , @product_tags_names, :class => "product_tags tagautocomplete" %></div>
  </fieldset>
  
  <hr />
      <%= f.label "Upload your resume" %>
      <%= file_field_tag :resume %>
      <%= f.label "Upload your bio" %>
      <%= file_field_tag :bio %>
  </section>
  </div>
  <div class="secondary">
      <section>
      <fieldset>
      <h4><%= f.label :professional_information %></h4>
      <%= f.text_area :professional_info %>
      </fieldset>
      <fieldset>
          <h4><%= f.label 'Give / Gets' %></h4>
          <%= f.text_area :give_gets %>
      </fieldset>
      <fieldset>
          <h4><%= f.label :interesting_facts %></h4>
          <%= f.text_area :interesting_facts %>
      </fieldset>
    </section>
    <div class="submit"><%= f.submit %></div>
</div>
<% end %>
</article>
