 <%= javascript_include_tag "autocomplete" %>


<%= form_for(@employee, :html => {:multipart => true}) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
    <h3>Skills</h3>
  <% for skill_tag in @employee.skill_tags %>
    <%= fields_for "employee[skill_tags][]", skill_tag do |skill_tag_form| %>
      <p>
        name: <%= skill_tag_form.text_field :name, :name => "employee[skill_tags][#{skill_tag.name}][name]" %>
        rate: <%= skill_tag_form.text_field :rate,:name => "employee[skill_tags][#{skill_tag.name}][rate]" %>
      </p>
    <% end %>
  <% end %>
  <p><%= add_child_link "New skill", :skill_tag %></p>
  <%= new_child_fields_template(f, :skill_tag)%>

  <div class="field">
    <%= f.label :industry_tags %><br />
    <%= text_field_tag :industry_tags , @industry_tags_names, :class => "tagautocomplete" %>
  </div>
  <div class="field">
    <%= f.label :product_tags %><br />
    <%= text_field_tag :product_tags , @product_tags_names, :class => "tagautocomplete" %>
  </div>
  <div class="field">
    <%= f.label :professional_information %><br />
    <%= f.text_area :professional_info %>
  </div>
  <div class="field">
    <%= f.label 'Give / Gets' %><br />
    <%= f.text_area :give_gets %>
  </div>
  <div class="field">
    <%= f.label :interesting_facts %><br />
    <%= f.text_area :interesting_facts %>
  </div>
  <div class="field">
    <%= f.label "Upload your resume" %>
    <%= file_field_tag :resume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

