<article class="searchresults clearfix">
<div class="primary">
    <h2>Search</h2>
    <p class="result-count">Your search for "<%= params[:query] %>" returned <%= pluralize @matches, 'result' %></p>
    <section>
        <%= form_tag search_path, :method => :get do %>
           <div class="searchbox">         
               <%= text_field_tag :query %>    
               <%= image_submit_tag 'btn.search.gif' %>
               
               <p class="browse-link arvo"><a href="/taggings/skill_tags_cloud">Browse our visual skills graph</a></p>
           </div>
        <% end %>
    </section>
    
    <h2>Refine Search</h2>
    <section>
		<h3>Skills</h3>
        <% @skills_filter.each do |skill| %>
		  <%=skill%> <%= check_box_tag "#{skill}", "#{skill}" %>
		<% end %>
		<h3>Locations</h3>  
		<% @locations_filter.each do |location| %>
		  <%=location%> <%= check_box_tag "#{location}", "#{location}" %>
		<% end %>      
		<h3>Products</h3>  
		<% @products_filter.each do |products| %>
		  <%=products%> <%= check_box_tag "#{products}", "#{products}" %>
		<% end %>
		<h3>Industry</h3>  
		<% @industry_filter.each do |industry| %>
		  <%=industry%> <%= check_box_tag "#{industry}", "#{industry}" %>
		<% end %>
    </section>
</div>

<div class="secondary">
    <h2>Search Results</h2>
	<% if @results %>
        <ul id="results">
            <% @results.each do |doc| %>
              <% if doc %>
              <li>  
                  <section class="profile clearfix">        
                      <%if doc['picture_url'] -%>
						  <%= link_to image_tag(doc['picture_url'], :size => "80x80", :class => "profile-img"), employee_path(doc) %>	
                      <% else -%>
                          <%= link_to image_tag("generic.profile.gif", :size => "80x80", :class => "profile-img", :alt => "No Image Found"), employee_path(doc) %>
                      <% end -%>
                        <ul>
                  	        <li><h3><%= employee_link(doc) %></h3></li>
          	        	    <% if doc['skill_tags'] %>
          	        	    <li>
          	        	        <%= doc['skill_tags'].map { |tag| tag.name }.join(', ') %>
          	        	    </li>
          	        	    <% end %>
                        </ul>
                    </section>
              </li>
              <% end %>
            <% end %>
            <%= will_paginate @results %>
        </ul>
      <% else %>
        <p id="result-count">Your search for "<%= params[:query] %>" returned no results"</p>
      <% end %>
</div>
</article>





