<% if @results %>
    <p id="result-count">Your search for "<%= params[:query] %>" returned <%= pluralize @index_results['matches'], 'result' %></p>
    <ul id="results">
        <% @results.each do |doc| %>
          <li>
           <%= doc['first_name'] %> -
           <%= doc['last_name'] %> -
           <%= image_tag doc['picture_url'] unless doc['picture_url'].nil? %>
          </li>
        <% end %>
    </ul>
  <% else %>
    <p id="result-count">Your search for "<%= params[:query] %>" returned no results"</p>
  <% end %>
