<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>
<% if current_user.resume -%>
  <p>
    <b>Resume:</b>
    <%= link_to @employee.resume, resume_path(@employee) %>
  </p>
<% end -%>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>

