<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>SkillTag:</b>
  <%= @employee.skill_tags_names %>
</p>

<p>
  <b>IndustryTag:</b>
  <%= @employee.industry_tags_names %>
</p>

<p>
  <b>ProductTag:</b>
  <%= @employee.product_tags_names %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>

