<article>
  <p id="notice"><%= notice %></p>
  <div class="primary">
    <h2>Your Profile</h2>
    <section class="profile clearfix"> 
        <%if @employee.picture_url -%>
            <img src="<%= @employee.picture_url %>" width="80" height="80" class="profile-img" alt="<%= @employee.first_name %> <%= @employee.last_name %>" />
        <% else -%>
            <img src="/images/generic.profile.gif" width="80" height="80" class="profile-img" alt="No Image Found" />
        <% end -%>
        
      <h3><%= @employee.full_name %> // <%= @employee.job_title %></h3>
      <ul>
        <li><strong>Industry:</strong> <%= @employee.industry_tags_names %></li>
        <li><strong>Skills:</strong> <%= @employee.skill_tags_names %></li>
        <li><strong>Products:</strong> <%= @employee.product_tags_names %></li>
        <li><strong>Email:</strong> <%= @employee.email %></li>
        <li><strong>Location:</strong> <%= @employee.location %></li>
        <% if @employee.resume -%>
        <li><strong>Resume:</strong> <%= link_to "View Resume", resume_path(@employee), :class => 'attach' %></li>
        <% end -%>
        <% if @employee.bio -%>
        <li><strong>Bio:</strong> <%= link_to @employee.bio, bio_path(@employee), :class => 'attach' %></li>
        <% end -%>
      </ul>
      <h4>Professional Information</h4>
      <p><%= @employee.professional_info.html_safe if @employee.professional_info %></p>
      <h4>Give / Gets</h4>
      <p><%= @employee.give_gets.html_safe if @employee.give_gets %></p>
      <h4>Interesting Facts</h4>
      <p><%= @employee.interesting_facts.html_safe if @employee.interesting_facts %></p>

      <% if current_user == @employee -%>
        <%= link_to 'Edit', edit_employee_path(@employee) %> |
      <% end -%>

      <%= link_to 'Back', root_path %> </section>
  </div>
  <div class="secondary">
    <h2>Your Skills</h2>
    <section class="skills-graph-container">
      <div id="skills-graph"></div>
    </section>
    <% if (!@similar_employees.empty?) %>
    	<h2>People alike</h2>
	    <div class="clearfix">
	      <section class="twoup">	    
			<%if @similar_employees.first.picture_url -%>
				<%= link_to image_tag("#{@similar_employees.first.picture_url}", :size => "80x80", :class => "profile-img", :alt => "#{@similar_employees.first.first_name} #{@similar_employees.first.last_name}"), edit_employee_path(@similar_employees.first) %>
	        <% else -%>
				<%= link_to image_tag("generic.profile.gif", :size => "80x80", :class => "profile-img", :alt => "No Image Found"), employee_path(@similar_employees.first) %>
	        <% end -%>
	        <p><strong><%= @similar_employees.first.first_name %> <%= @similar_employees.first.last_name %></strong></p>
	        <p><%= @similar_employees.first.job_title %></p>
	      </section>
	      <% if (@similar_employees[1]) %>
	      <section class="twoup last">
			<%if @similar_employees[1].picture_url -%>
				<%= link_to image_tag("#{@similar_employees[1].picture_url}", :size => "80x80", :class => "profile-img", :alt => "#{@similar_employees[1].first_name} #{@similar_employees[1].last_name}"), edit_employee_path(@similar_employees[1]) %>
	        <% else -%>
				<%= link_to image_tag("generic.profile.gif", :size => "80x80", :class => "profile-img", :alt => "No Image Found"), employee_path(@similar_employees[1]) %>
	        <% end -%>
	        <p><strong><%= @similar_employees[1].first_name %> <%= @similar_employees[1].last_name %></strong></p>
	        <p><%= @similar_employees[1].job_title %></p>
	      </section>
		  <% end %>
	    </div>
    <% end %>
  </div>
</article>

