<p id="notice"><%= notice %></p>

<article class='clearfix'>
  <div class='primary'>
    <section class='profile'>

      <%= image_tag @employee.picture_url, :id => "profile-img" %>

      <ul>
        <li><h3><%= current_user.full_name %> // <%= current_user.job_title %></h3></li>
        <li>Industry: <%= current_user.industry %></li>
        <li>Skills: <%= current_user.skill_tags_names %></li>
        <li>Products: <%= current_user.product_tags_names %></li>
      </ul>

      <h2>Professional Information</h2>
      <%= @employee.professional_info.html_safe if @employee.professional_info %>

      <h2>Give / Gets</h2>
      <%= @employee.give_gets.html_safe if @employee.give_gets %>

      <h2>Interesting Facts</h2>
      <%= @employee.interesting_facts.html_safe if @employee.interesting_facts %>

      <% if current_user.resume -%>
        <p>
          <b>Resume:</b>
          <%= link_to @employee.resume, resume_path(@employee) %>
        </p>
      <% end -%>
    </section>
  </div>
</article>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', root_path %>

