<article class="clearfix">
<div class="primary">
    <h2>All Skills</h2>

    <section class="skills-graph-container">
        <div id="skills-graph"></div>
        <h3>Razorfish Skills</h3>
    </section>
    
    <h2>Most Viewed</h2>
    
    <section>
        <div class="carousel">
            <ul>
                <% @most_viewed.each do |employee| %>
                <li>
                    <%if employee.picture_url -%>
            			<%= link_to image_tag("#{employee.picture_url}", :size => "40x40", :class => "profile-img", :alt => "#{employee.first_name} #{employee.last_name}"), employee_path(employee) %>
                    <% else -%>
            			<%= link_to image_tag("generic.profile.gif", :size => "40x40", :class => "profile-img", :alt => "No Image Found"), edit_employee_path(employee) %>
                    <% end -%>
                    <h4><%= employee_link_short(employee) %></h4>
                    <p>Views: <%= employee.num_views %></p>
                </li>
                <% end %>
            </ul>
        </div>
    </section>
</div>

<div class="secondary">
    <h2>Your Profile</h2>
	<section class="profile clearfix">
	<% if current_user %>
  		<%if current_user.picture_url -%>
			<%= link_to image_tag("#{current_user.picture_url}", :size => "80x80", :class => "profile-img", :alt => "#{current_user.first_name} #{current_user.last_name}"), employee_path(current_user) %>
        <% else -%>
			<%= link_to image_tag("generic.profile.gif", :size => "80x80", :class => "profile-img", :alt => "No Image Found"), edit_employee_path(current_user) %>
        <% end -%>
            <ul>
        	    <li><h3><%= current_user.full_name %> // <%= current_user.job_title %></h3></li>
	        	<li><strong>Industry:</strong> <%= current_user.industry %></li>
	        	<li><strong>Skills:</strong> <%= current_user.skill_tags_names %></li>
	        	<li><strong>Products:</strong> <%= current_user.product_tags_names %></li>
	        	<% if current_user.resume -%>
              		<li><strong>Resume:</strong> <%= link_to "View Resume", resume_path(current_user), :class => 'attach' %></li>
          		<% end -%>
            </ul>
			<p class="update-profile"><%= link_to 'Edit My Profile', edit_employee_path(current_user) %></p>
    	    <p class="update-profile float-right"><%= link_to 'View your Linkedin profile', current_user.linkedin_url, {:target => "_blank"} %></p>
	<% else %>
		<%= link_to "Login via LinkedIn", '/auth/linked_in' %>
	<% end %>
  	</section>

  	<div class="clearfix">
  	<section class="twoup">
  	    <h2>Recent Searches</h2>
        <ul>
          <% if @recent_searches %>
            <% @recent_searches.each do |recent| %>
              <li><%= link_to recent.search, search_path(:query => recent.search) %></li>
            <% end %>
          <% end %>
        </ul>
  	</section>

  	<section class="twoup last">
  	    <h2>Search</h2>
        <%= form_tag search_path, :method => :get do %>
            <div class="searchbox">
              <%= text_field_tag :query %>
              <%= image_submit_tag 'btn.search.gif' %>
        	</div>
        <% end %>
        <p class="browse-link arvo"><a href="/taggings/skill_tags_cloud">Browse our visual skills graph</a></p>
  	</section>
  	</div>
        <h2>Recent updates...</h2>
  	    <section>
        <ul class="list">
        <% @events.each do |event| -%>
            <%= render :partial => "/events/#{event.event_type}", :locals => {:event => event} %>
        <% end -%>
        </ul>
        </section>
    </div>
</article>

