<article class="clearfix">
<div class="primary">
    <h2>All Skills</h2>
    
    <section class="skills-graph-container">
        <div id="skills-graph"></div>
        <h3>Razorfish Skills</h3>
    </section>
</div>

<div class="secondary">
    <h2>Your Profile</h2>
	<section class="profile clearfix">
	<% if current_user %>
  		
          <img src="<%= current_user.picture_url %>" width="80" height="80" class="profile-img" alt="<%= current_user.first_name %> <%= current_user.last_name %>" />
            <ul>
        	    <li><h3><%= current_user.full_name %> // <%= current_user.job_title %></h3></li>
	        	<li>Industry: <%= current_user.industry %></li>
	        	<li>Skills: <%= current_user.skill_tags_names %></li>
	        	<li>Products: <%= current_user.product_tags_names %></li>
	        	<% if current_user.resume -%>
              	<li>Resume: <%= link_to current_user.resume, resume_path(current_user) %></li>
          	<% end -%>
          <li>
            <%= link_to 'Edit', edit_employee_path(current_user) %></li>
            </ul>

    	    <p class="update-profile"><%=link_to 'Update your Profile', current_user.linkedin_url %></p>
	<% else %>
		<%= link_to "Login via LinkedIn", '/auth/linked_in' %>
	<% end %>
  	</section>

  	<div class="clearfix">
  	<section class="twoup">
  	    <h2>Looking For...</h2>

        <ul>
            <li><a href="#">Sharepoint 2010</a></li>
            <li><a href="#">Autonomy CRM</a></li>
            <li><a href="#">IPhone Objective-C development</a></li>
            <li><a href="#">PhoneGap Development</a></li>
            <li><a href="#">Sharepoint 2010</a></li>
            <li><a href="#">Autonomy CRM</a></li>
            <li><a href="#">IPhone Objective-C development</a></li>
        </ul>
  	</section>

  	<section class="twoup last">
  	    <h2>Search</h2>
        <%= form_tag search_path, :method => :get do %>
            <div class="searchbox">
              <%= text_field_tag :query %>
              <%= image_submit_tag 'btn.search.gif' %>
        	</div>
        <% end %>
        <p class="browse-link arvo"><a href="/taggings/skill_tags_cloud">Browse our visual<br/>skills graph</a></p>
  	</section>
  	</div>
        <h2>Recent updates...</h2>
  	    <section>
        <ul class="list">
        <% @events.each do |event| -%>
            <%= render :partial => "/events/#{event.event_type}", :locals => {:event => event} %>
        <% end -%>
        </ul>
        </section>
    </div>
</article>
