<article class="wide-right skill-summary clearfix">
<div class="primary">
    <h2>Top <%= @tag.upcase %></h2>
    <% for employee in @employees   %>
      <section class="profile clearfix">
		  <% if employee.picture_url -%>
			  <%= link_to image_tag(employee.picture_url, :size => "80x80", :class => "profile-img"), employee_path(employee) %>	
          <% else -%>
              <%= link_to image_tag("generic.profile.gif", :size => "80x80", :class => "profile-img", :alt => "No Image Found"), employee_path(employee) %>
          <% end -%>
              <ul class="summary">
          	    <li><h3><%= employee_link(employee) %></h3></li>
	          	<li>Skills: <%= employee.skill_tags_names %></li>
	          	<li>Products: <%= employee.product_tags_names %></li>
	          	<li>Industry: <%= employee.industry_tags_names %></li>
	          	<li> <%=  content_tag(:span,@tag.upcase,:class  => 'tag-rating-label') %> <%= ratings_readonly(employee.skill_tags.select{|t|   t[:name] == @tag  }.first[:rate]) %> 
	          	    </li>
              </ul>
    	</section>
  	<% end %>
  	<div class="pagination">
  	    <%= will_paginate @employees %>
  	</div>
</div>
<div class="secondary">
    <h2>Skills / <%= @tag.upcase %></h2>

    <section class="callout">
        <h2><%= link_to(@tag.upcase, "#") %></h2>
        <ul class="ratings-container clearfix">
            <li><%= ratings_readonly(5) %> <span class="tag-rating-label">(<%= @skills_rate_groups[4] %>)</span></li>
            <li><%= ratings_readonly(4) %> <span class="tag-rating-label">(<%= @skills_rate_groups[3] %>)</span></li>
            <li><%= ratings_readonly(3) %> <span class="tag-rating-label">(<%= @skills_rate_groups[2] %>)</span></li>
            <li><%= ratings_readonly(2) %> <span class="tag-rating-label">(<%= @skills_rate_groups[1] %>)</span></li>
            <li><%= ratings_readonly(1) %> <span class="tag-rating-label">(<%= @skills_rate_groups[0] %>)</span></li>
        </ul>
    </section>

    <h3>Interesting Facts</h3>
    <section>
        <h4><%= link_to("Skills","#") %></h4>
        <ul>
        <% for skill in @skills_name_groups %>
            <li><%= skill[:name] %> - <%= skill[:count] %> </li>
        <% end %>
        </ul>
    </section>
</div>
</article>

