<!DOCTYPE html>
<html>
<head>
  <title>Skills Database</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" %>
  <%= javascript_include_tag "enhance" %>
  <%= javascript_include_tag "jquery.fancybox-1.3.1" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "https://getfirebug.com/firebug-lite.js" %>
  <%= csrf_meta_tag %> 
  <!-- FAVICON --> 
  <link type="image/x-icon" href="favicon.ico" rel="shortcut icon" /> 

  <!-- HTML5 FIX OLDER BROWSERS --> 
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">	</script>
  <![endif]-->

</head>
<body>

<!-- START WRAPPER --> 
<div id="wrapper"> 
	
	<!-- Flash error messages -->
	<% if flash[:error] %>
	<div>
		<strong>Error:</strong>
		<%= flash[:error] %>
	</div>
	<% end %>

	<!-- Flash informational messages and notices -->
	<% if flash[:notice] %>
	<div>
		<strong>Notice:</strong>
		<%= flash[:notice] %>
	</div>
	<% end %>
	
	<!-- Include Header Partial -->
	<%= render :partial => "shared/header" %>
	<!-- End Include Header Partial  -->
	 
    <%= yield %> 
	
	<!-- Include Footer Partial -->
    <%= render :partial => "shared/footer" %>
	<!-- End Include Footer Partial  -->

</body>
</html>
