<!DOCTYPE html>
<html>
<head>
  <title>Skills Database</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "jit/base", "jit/Sunburst" %>
  <%= javascript_include_tag "jit/jit", "jit/Extras/excanvas" %>
  <%= csrf_meta_tag %>

</head>
<body onload="init();">
<%= yield %>
</body>
</html>

