<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Skills Database</title>
  <meta name="description" content="Razorfish Skills Database">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS : implied media="all" -->
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" %>
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <%= javascript_include_tag "libs/modernizr-1.6.min" %>
  
  <%= csrf_meta_tag %> 

</head>

<body lang="en" >
    <!-- Start Wrapper -->
	<div id="wrap">
	  	<header>
	  	    <h1>Razorfish Skills Database</h1>
	  	</header>
	  	
	  	<div class="clearfix" id="main">
	  	    <div class="primary">
	  	        <section>
	  	        <h2>All Skills</h2>
	  	        
	  	        <div id="skills-graph"></div>
	  	        </section>
	  	    </div>

            <div class="secondary">
    	    	<section class="profile clearfix">                    
    			<% if @employee %>
    	      		<h2>Your Profile</h2>
                        <img src="<%= @employee.picture_url %>" width="80" height="80" id="profile-img" alt="<%= @employee.first_name %> <%= @employee.last_name %>" />	       	 	
                        <ul>
    		        	    <li><h3><%= @employee.first_name %> <%= @employee.last_name %> // <%= @employee.job_title %></h3></li>
        		        	<li>Industry: <%= @employee.industry %></li>
        		        	<li>Skills: </li>
        		        	<li>Products: </li>
                            <!--<li>
                                <%= link_to 'Edit', edit_employee_path(@employee.id) %></li>-->
    		            </ul>

    	        	    <p class="update-profile"><%=link_to 'Update your Profile', @employee.linkedin_url %></p>
    			<% else %>
    				<%= link_to "Login via LinkedIn", :controller => "auth" %>
    			<% end %>
    	      	</section>
    	      	
    	      	<div class="clearfix">
    	      	<section class="twoup">
    	      	    <h2>Looking For...</h2>
                    
    		        <ul>
    		            <li><a href="#">Sharepoint 2010</a></li>
    		            <li><a href="#">Autonomy CRM</a></li>
                        <li><a href="#">IPhone Objective-C development</a></li>
                        <li><a href="#">PhoneGap Development</a></li>
                        <li><a href="#">Sharepoint 2010</a></li>
                        <li><a href="#">Autonomy CRM</a></li>
                        <li><a href="#">IPhone Objective-C development</a></li>
    		        </ul>
    	      	</section>
    	      	
    	      	<section class="twoup last">
    	      	    <h2>Search</h2>
    		        <form id="searchform" name="" method="" action="">
    		            <div class="searchbox">
    		                <input type="text" value="">
    		        	    <input id="search-btn" type="image" src="/images/btn.search.gif">
    		        	</div>
    		        </form>
    		        <p class="browse-link arvo"><a href="#">Browse our visual<br/>skills graph</a></p>
    	      	</section>
    	      	</div>
    	      	<section>
    	      	    <h2>Recent updates...</h2>
                    
        	        <ul>
        	        	<li><a href="#">Todd Matthews uploaded his resume</a></li>
        	          	<li><a href="#">Martin Jacobs added telecom to his industry experience</a></li>
        		        <li><a href="#">Martin Jacobs added Ruby on Rails 3 to his skills</a></li>
        		        <li><a href="#">Martin Jacobs added Git to his skills</a></li>
        	        </ul>
        	        
        	      </section>
    	    </div>
	  	    
	  	</div>
	  	
	  	<footer>
	  	    
	  	</footer>
	  	
	</div>
	<!-- END Wrapper -->

  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js" %>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
  
  <!-- libs -->
  <%= javascript_include_tag "libs/raphael-min" %>
  
  <!-- scripts -->
  <%= javascript_include_tag "skills.common" %>
  
  
  <!--[if lt IE 7 ]>
    <%= javascript_include_tag "libs/dd_belatedpng" %>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->
  
</body>
</html>